.button{
	-fx-background-color: #2196f3;
    -fx-text-fill: WHITE;
	-fx-border-radius: 0;
}
.text-input{
	-fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #b5b5b5;
    -fx-text-fill: #b5b5b5;
}